#ให้น้องบ่าวสร้างไฟล์ .env ขึ้นมาในโฟลเดอร์โปรเจคของน้องบ่าวสักหนึ่งไฟล์ แล้วก็เอาเนื้อหาต่อไปนี้ไปใส่ในไฟล์ .env นะครับ
DB_USER=root
DB_PASSWORD=เปลี่ยนที่นี่
DB_NAME=app_db
DB_PORT=5433 
#DB_PORT ปกติเป็น 5433

PGADMIN_EMAIL=
PGADMIN_PASSWORD=